.Filter {
    font-size: smaller;
    overflow-wrap: break-word;
}

.Filter_empty {
    font-size: smaller;
    opacity: 0;
}

#Filter_select {
    max-width: 132px;
}

#Filter_label {
    margin-right: 5px;
}

/* For Desktop and Tablet */

@media all and (min-width: 800px) {
    .Filter {
        margin: 8px 12px -5px 20px;
    }

    #Filter_select {
        font-size: 20px;
        max-width: 400px;
    }
    
    #Filter_label {
        font-size: 20px;
        margin-right: 10px;
    }
}
