.Header {
    display: flex;
    justify-content: space-between;
    background-color: lightgray;
    padding: 5px 10px;
}

.Header_controls {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.Header_link {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    font-size: smaller;
    margin-top: 5px;
}