.LandingPage {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #4C63A9;
}

.LandingPage_text {
    margin-top: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    max-width: 400px;
}

.LandingPage_form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.LandingPage_label {
    font-weight: bold;
    margin: 10px 0px;
}

.LandingPage_link {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;

}

.copylink {
    margin-top: 5px;
}

.LandingPage_logo {
    margin-top: 30px;
    width: 90%;
    height: 90%;
    max-width: 275px;
}

#listname {
    width: 200px;
}

#intro {
    text-align: justify;
    margin-top: 0px;
    width: 275px;
}

h2 {
    width: 300px;
}


/* For Desktop and Tablet */

@media all and (min-width: 750px) {
    .LandingPage_logo {
        margin-top: 50px;
        width: 90%;
        height: 90%;
        max-width: 500px;
    }

    .LandingPage_label {
        font-weight: bold;
        margin: 10px 0px;
        font-size: 20px;
    }
    
    #listname {
        width: 300px;
    }
    
    #intro {
        text-align: justify;
        margin-top: 0px;
        width: 500px;
    }
    
    h2 {
        width: 500px;
    }

    p {
        font-size: 20px;
    }
  }


