.EditItem {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 300px;
  padding-bottom: 18.7px;
  border-radius: 4px;
  background-color: #4C63A9;
  color: #0E161B;
  text-shadow: 0px 3px 15px rgba(0,0,0, 0.1);
  }

.EditItem_form {
  background-color: #F9F9ED;
  border-radius: 4px;
  color: #0E161B;
  padding: 10px 5px 0px 5px;
  width: 270px;
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  text-decoration: none;
}

.EditItem_bottom {
  display: flex;
  justify-content: center;
}

.EditItem_button {
    margin: 5px;
  }

.EditItem_label {
    margin: 5px 0px;
}

#form_notes {
    height: 75px;
}

#form_assign_input {
  margin-top: 5px;
}

