.EditList {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    background-color: lightgray;
    width: 300px;
    border: 1px solid black;
    padding-bottom: 18.7px;
  }
  
  .EditList_form {
    background-color: white;
    padding: 0px 5px;
    border: 1px solid black;
    width: 270px;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    color: black;
    text-decoration: none;
  }
  
  .EditList_top {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
  }
  
  .EditList_bottom {
    display: flex;
    justify-content: center;
    margin: 10px 0px;
  }
  
  .EditList_button {
    margin: 5px;
  }
  
  .EditList_label {
    margin: 5px 0px;
  }
  
  .EditList_input {
    width: 150px;
    margin-left: 5px;
    margin-top: 2.5px;
  }