.List {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
  background-color: #4C63A9;
  width: 300px;
  padding-bottom: 18.7px;
  color:#F9F9ED; 
  border-radius: 4px;
  box-shadow: 0px 3px 15px rgba(0,0,0,0.2);
}

.List_ul {
  padding: 0px;
}

.List_title {
  width: 280px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.router_link:link {
  color: black;
  text-decoration: none;
}

.router_link:visited {
  color: black;
  text-decoration: none;
}

/* MODAL ANIMATION */

.ReactModal__Overlay {
  opacity: 0;
  transition: opacity 50ms ease-in-out;
}

.ReactModal__Overlay--after-open{
  opacity: 1;
}

.ReactModal__Overlay--before-close{
  opacity: 0;
}


/* For Desktop and Tablet */

@media all and (min-width: 800px) {
  .List {
    margin-top: 40px;
    width: 500px;
    padding: 20px;
  }

  .List_title {
    width: 480px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }

}