.List {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    background-color: #4C63A9;
    width: 300px;
    padding-bottom: 18.7px;
    color:#F9F9ED; 
    border-radius: 4px;
    box-shadow: 0px 3px 15px rgba(0,0,0,0.2);
  }

.List_ul {
      padding: 0px;
  }

.router_link:link {
    color: black;
    text-decoration: none;
}

.router_link:visited {
    color: black;
    text-decoration: none;
}

